<div class="container d-flex">
    <div class="card-body border black">
        <small>{{type}}</small><br>
        <small>public : {{public}}</small>
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <div class="buttons d-flex">
            <div class="buttoncard border border-secondary">Argent</div>
            <div class="buttoncard border border-secondary">Entre amis</div>
        </div>
    </div>
    <div class="card-body border black">
        <small>{{type}}</small><br>
        <small>public : {{public}}</small>
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <div class="buttons d-flex">
            <div class="buttoncard border border-secondary">Argent</div>
            <div class="buttoncard border border-secondary">Entre amis</div>
        </div>
    </div>
    <div class="card-body border black">
        <small>{{type}}</small><br>
        <small>public : {{public}}</small>
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <div class="buttons d-flex">
            <div class="buttoncard border border-secondary">Argent</div>
            <div class="buttoncard border border-secondary">Entre amis</div>
        </div>
    </div>
</div>