.card-body{
    margin: 10px;
    width: 200px;
}
small{
    font-style: italic;
    font-size: 110%;
}
.buttoncard{
    margin: 5px;
    padding: 8px;
    border-radius: 25px;
    background-color: rgb(235, 235, 235);
    border: 2px, solid,rgb(54, 54, 54) ;
    font-weight: 600;
}