<div class="banner"></div>
<div class="container">
    <div class="row" style="border: 1px, solid, black;">
        <div class="col-sm-offset-2 col-sm-10 text-center">
            <h1>Ludoweb</h1>
            <p>Prétez et empruntez des jeux de société.</p>

            <button type="button" class=" btn btn-primary" (click)="clickNewsletter()" *ngIf="!buttonClicked">Je
                souhaite recevoir la
                newsletter</button>
            <input type="text" [(ngModel)]="mailNews" *ngIf="buttonClicked">
            <button type="button" class=" btn btn-primary" *ngIf="buttonClicked"
                (click)="validate()">{{newsletterInscription}}</button>

        </div>
        <div class="col-sm-offset-2 col-sm-10" *ngIf="stats">
            <h1>Ludoweb en quelques chiffres</h1>
            <div>
                <p>{{stats?.nbLoans}} prêt de jeux effectués</p>
            </div>
            <div>
                <p>{{stats.nbGames}} ludothèques</p>
            </div>
            <div>
                <p>{{stats.nbUsers}} utilisateurs</p>
            </div>
            <div>
                <p>{{stats.nbManagers}} jeux enregistrés</p>
            </div>
            <div>
                <p>{{stats.nbUsers}} jeux par utilisateur en moyenne</p>
            </div>
            <div>
                <p>{{stats.categories.length}} catégories différentes :</p>
            </div>
            <span *ngFor="let category of stats.categories">{{category}} </span>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <h1>Les témoignages</h1>

        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <h1>Les derniers jeux ajoutés</h1>
            <app-games></app-games>
        </div>
    </div>
</div>